


header {
    background-color: #333;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
  
  .active {
    background-color: #555;
  }

  #imagess
    {
    position: relative;  
    height: 300px;
    width: 300px;
    }
 

    .container {
      display: flex;
    }
    
    .image {
      flex: 1;
      padding: 20px;
    }
    
    .image-description {
      flex: 1;
      padding: 20px;
      padding-top: 150px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: justify;
    }
    .image-description p {
     text-size-adjust: 50px;
    }

div.container div.image-description h2
{
  position: absolute;
  width: 382px;
  height: 39px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
padding-left: 100px;  color: #000000;
}

div.container div.image-description p
{
  position: absolute;
  width: 551px;
  height: 178px;
  font-family: 'IBM Plex Sans Hebrew';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  text-align: justify;
  color: #000000;
  padding-top: 3.5%;
}
#btn{
position: absolute;
width: 220px;
height: 44px;
left: 950px;
top: 511px;
background: #C55CEF;
border-radius: 20px;
}

#lets{
position: absolute;
width: auto;
height: 29px;
left: 994px;
top: 495px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
color: #fff;

}
